<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2>Employee List</h2>
            <br>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>EmployeeID</th>
                        <th>EmployeeName</th>
                        <th>EmployeeAge</th>
                        <th>EmployeeSalary</th>
                        <th>EmployeePost</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let e of employee">
                        <td>{{e.employeeId}}</td>
                        <td>{{e.employeeName}}</td>
                        <td>{{e.employeeAge}}</td>
                        <td>{{e.employeeSalary}}</td>
                        <td>{{e.employeePost}}</td>
                        <td><button (click)="deleteEmployee(e.employeeId)" class="btn btn-danger">Delete</button></td>
                        <td><button (click)="updateEmployee(e.employeeId)" class="btn btn-primary">Update</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>